<div class="edit_comment">
  <form class="edit_comment">
    <textarea>${ body }</textarea>
    <div class="buttons">
      <%= submit_tag "SAVE", :class => "button" %>
      <%= link_to "Cancel", "#cancel", :class => "cancel_button" %>
    </div>
  </form>
</div>
