
<div class="people_search">
  <!--
  <div class="search_form">
    <%= form_tag search_users_path, :method => :get, :id => "people-search" do %>
      <div class="sp-label">
        <%= text_field_tag :q, params[:q], :id => "sp-peoplesearch", :autocomplete => "off" %>
    	</div>
    <% end %>
    <div class="sp-magnify">
      <div class="magnify-searchmode"></div>
      <div class="magnify"></div>
    </div>
  </div>
  <ul class="search_history">
    <% ["iOS", "Bio Tech", "Interaction"].each do |keyword| %>
      <li>
        <div class="block">
          <%= link_to_function keyword, "alert('#{keyword}')" %>
          <%= link_to_function "x", "alert('remove^^')", :class => "remove" %>
        </span>
      </li>
    <% end %>
  </ul>
  -->
</div>
