<% connect_button ||= false %>

<div class="profile"><%= link_to (image_tag user.profile_image_url), user %></div>

<% unless user.name_en.blank? %>
  <div class="username_e"><%= link_to user.name_en, user %></div>
<% end %>

<div class="username"><%= link_to user.name, user %></div>

<% if connect_button %>
  <%= render "connections/button", :user => user %>
<% end %>
