<div class="content_title">
  <div class="title">PEOPLE</div>
</div>

<%= render "users/search" %>

<div class="people_nav">
  <ul>
    <% ("A".."Z").each do |c| %>
      <li><%= link_to_function c, "alert('#{c}')" %></li>
    <% end %>
  </ul>
</div>

<div class="people">
  <ul>
    <% 25.times do %>
      <% user = User.first %>
      <li><%= render "users/thumb", :user => user, :connect_button => true %></li>
    <% end %>
  </ul>
</div>


<div class="sidebar">
  <%= render "shared/side_app" %>
</div>
