<%
  content = content
%>


<% if content.has_image? %>

<ul class="attached_files">

  <% [:image_1,:image_2,:image_3].each do |gm| %>
    <% g = content.send(gm) %>
    <% unless g.to_s.blank? %>
      <li class="">
        <%= link_to g.to_s.split("/").last, g.url, :target => "_blank" %>
      </li>
    <% end %>
  <% end %>

</ul>

<% end %>
