<% post = post %>


<div class="related_posts">
  <h3>RELATED NEWS</h3>
  <ul>
    <li>
      <div class="thumb"><%= link_to (image_tag post.picture_image.url), post %></div>
      <div class="abbr"><%= link_to post.title, post %></div>
    </li>
  </ul>
</div>
