<% @banners = Banner.where(:category => "side").includes(:event) %>

<% if banner = @banners.first %>

<div class="sb_element">
  <div><%= link_to image_tag(banner.event.poster_image.url), banner.event %></div>
</div>

<% end %>

