<div class="content_title">
  <h3>NEWS EDITING</h3>
</div>

<div class="editing_toolbox">
  <%= link_to "Not Published", "/editing" %>
  |
  <%= link_to "Show All", "/editing/all" %>
  |
  <%= link_to "Writers Index", "/editing/writers" %>
</div>
