<%= render "shared/splash" %>

<div class="archive">
  <%= render "archives/nav" %>

  <ul class="photos"></ul>

</div>

<script>

$(function(){
  queryPhotos();
});

var photos = [];
var current_page = 1;

function jsonFlickrApi(r) {
  var ps = r.photos
  var total = parseInt(ps.total);
  var c = $("ul.photos");

  $.each(ps.photo,function(k,v){
    var cn = (k % 6 == 5) ? "row_end" : "";
    var h = "<li class='" + cn + "'><a href='" + v.url_l + "' rel='group' class='fancybox'><img src='" + v.url_sq + "'/></a></li>";
    c.append(h);
  });
  
  $("ul.photos .fancybox").fancybox({
    openEffect: "elastic"
  });
  
  current_page += 1;
}

function queryPhotos() {
  var r = $.ajax({url: "http://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos&api_key=da88ab3b7da911e98c4fd4ebee635623&user_id=68179057%40N06&extras=url_l%2C+url_z%2C+url_t%2C+url_sq%2C+url_s%2C+views&per_page=100&page=" + current_page + "&format=json",
    async:true,
    success:function(data){
      eval(data);
    }
  });
};

</script>
