<div class="content_title">
  <div class="title_events">TIDE Events</div>
</div>

<div class="events no_first_border">
  <%= render "events/events" %>
</div>



<div class="sidebar">
  <%= render "shared/side_app" %>
</div>
